*{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}

@media  (min-width : 0px) {
     header{
          margin: 1vh;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
     }
     .box1{
          width: 25vw;
          height: 20vh;
     }
     .box2{
          width: 65vw;
          height: 20vh;
     
     }
     div{
          border: 2px solid rgb(13, 0, 0);
     }
     
     .lowermain{
          margin: 1vh;
          border: 2px solid rgb(20, 1, 1);
          display: flex;
          flex-direction: column;
          justify-content: space-around;
     }
     .box3{
          margin: 1vh;
          width: 98vw;
          height: 30vh;
     }
      .box4{
          width: 98vw;
          height: 30vh;
      }
      .box5{
          width: 98vw;
          height: 30vh;
      }
      .box6{
          width: 98vw;
          height: 30vh;
      }
      .box7{
          margin: 1vh;
          width: 98vw;
          height: 30vh;
      }
}
@media (min-width : 576px) {
     
header{
     margin: 1vh;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
}
.box1{
     width: 25vw;
     height: 20vh;
}
.box2{
     width: 65vw;
     height: 20vh;

}
div{
     border: 2px solid rgb(13, 0, 0);
}

.lowermain{
     margin: 1vh;
     border: 2px solid rgb(20, 1, 1);
     display: flex;
     flex-direction: row;
     justify-content: space-around;
}
.box3{
     margin: 1vh;
     width: 98vw;
     height: 30vh;
}
 .box4{
     width: 30vw;
     height: 30vh;
 }
 .box5{
     width: 30vw;
     height: 30vh;
 }
 .box6{
     width: 30vw;
     height: 30vh;
 }
 .box7{
     margin: 1vh;
     width: 98vw;
     height: 30vh;
 }
 
}